<div class="home-vista w3-display-container w3-text-white">
  <div class="w3-display-middle w3-jumbo">
    <img src="assets\logoletters2.png" alt="logo">
  </div>

  <div class="w3-display-topleft w3-container w3-xlarge mt-3">
    <button class="menu-button" (click)="openContacto()" (mouseenter)="onHoverButton()">FAQ</button>
    <button class="menu-button" (click)="openContacto()" (mouseenter)="onHoverButton()">Areas</button>
    <button class="menu-button" (click)="openContacto()" (mouseenter)="onHoverButton()">Contacto</button>
  </div>

  <div class="w3-display-bottomleft w3-container">
    <p class="w3-xlarge bg-danger">Lunes - Viernes 10-12 | Sabados 14-15</p>
    <p class="w3-large">
      <span style="white-space: normal;">Roque Vázquez 73,</span>
      <span style="white-space: nowrap;"> Junín, Buenos Aires</span>
    </p>
    <p class="small">by <a href="https://www.linkedin.com/in/francisco-caviglia/"
        target="_blank">in/francisco-caviglia</a></p>
  </div>

</div>