.card {
  transition: .2s all;
  border: none;
}

.card:hover {
  box-shadow: 7px 7px 15px black;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, .8);
  cursor: pointer;
}

.card img {
  filter: brightness(.8);
  transition: .1s all;
}

.col:hover .card img {
  box-shadow: 0px 0px 12px rgba(73, 73, 73, 0.8);
  filter: brightness(1);
}

@keyframes pressButtonAnimation {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(.95);
  }

  100% {
    transform: scale(1);
  }
}

.pressButton:active {
  animation: pressButtonAnimation .7s;
}

* {
  user-select: none;
}