.bi-folder {
  color: #ffc107;
  /* Amarillo para carpetas */
}

.bi-file-earmark-text {
  color: #17a2b8;
  /* Azul claro para archivos de texto */
}

.bi-file-earmark-pdf {
  color: #dc3545;
  /* Rojo para archivos PDF */
}

.bi-file-earmark-word {
  color: #007bff;
  /* Azul para archivos Word */
}

.bi-file-earmark-excel {
  color: #28a745;
  /* Verde para archivos Excel */
}

.bi-file-earmark-slides {
  color: #fd7e14;
  /* Naranja para archivos de presentaciones */
}

.bi-file-earmark-image {
  color: #6f42c1;
  /* Morado para archivos de imagen */
}

.bi-file-earmark-play {
  color: #fd7e14;
  /* Naranja para archivos de video */
}

.bi-file-earmark-music {
  color: #e83e8c;
  /* Rosa para archivos de audio */
}

.bi-file-earmark-zip {
  color: #6c757d;
  /* Gris para archivos comprimidos */
}

.bi-file-earmark {
  color: #6c757d;
  /* Gris para otros tipos de archivos */
}

/* Estilos para los botones modernos */
.button-group {
  display: flex;
  gap: 10px;
}

.button-group button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.button-group button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.button-group button.active {
  background-color: #28a745;
  /* Verde cuando activo */
}

.back-button {
  border: none;
  background: none;
  color: #007bff;
  cursor: pointer;
  font-size: 24px;
  transition: color 0.3s, transform 0.3s;
}

.back-button:hover {
  color: #0056b3;
  transform: translateY(-2px);
}

.modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* Asegura que el contenedor ocupe todo el ancho */
}

.modal-header input {
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

.empty-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  color: #6c757d;
  font-size: 16px;
  opacity: .5;
}

/* Efecto hover para archivos y carpetas */
.file-item {
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.file-item:hover {
  background-color: #afd7ff;
  transform: translateY(-2px);
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}