<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Nuestras Areas</h5>
    <button type="button" class="close" aria-label="Cerrar" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <ul class="list-group">
      <li class="list-group-item">Salud</li>
      <li class="list-group-item">Amparo</li>
      <li class="list-group-item">Administrativo</li>
      <li class="list-group-item">Familia</li>
      <li class="list-group-item">Mediacion y Conciliacion</li>
      <li class="list-group-item">Defensa del Consumidor</li>
      <li class="list-group-item">Laboral</li>
      <li class="list-group-item">Civil</li>
      <li class="list-group-item">Comercial</li>
      <li class="list-group-item">Sucesiones</li>
      <li class="list-group-item">Sociedades</li>
      <li class="list-group-item">Contratos</li>
      <li class="list-group-item">Concursos y Quiebras</li>
      <li class="list-group-item">Penal</li>
    </ul>
  </div>

  <!-- <div class="modal-footer">
  </div> -->
</div>